/* Преимущества */

.benefits-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
}
.benefits-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
}
.benefits-item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: var(--card-set-gap);

  background-color: var(--bg-grey);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: 50% 50%;
}
.benefits-item:first-child::before {
  background-image: url(../images/antenna\ 1.svg);
}
.benefits-item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
}
.benefits-item:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.svg);
}
.benefits-item:last-child::before {
  background-image: url(../images/astronaut\ 1.svg);
}

.benefits-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
.benefits-list p {
  line-height: 1.7;
}
